LETS START MAKING REAL MODEL NOW

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv(r"D:\#PROJECTS\Crop Recommendation System for Indian Farmerss\SoilMoisture_haryana_original.csv")

print(data.head(5))

print(np.unique(data["State"])) #only haryana
print(np.unique(data["District"])) 
'''
unique values in district

Ambala' 'Bhiwani' 'Charki Dadri' 'Faridabad' 'Fatehabad' 'Gurugram'
 'Hisar' 'Jhajjar' 'Jind' 'Kaithal' 'Karnal' 'Kurukshetra' 'Mahendragarh'
 'Nuh' 'Palwal' 'Panchkula' 'Panipat' 'Rewari' 'Rohtak' 'Sirsa' 'Sonipat'
 'Yamunanagar'''
print(np.unique(data["Month"])) #1  2  3  4  5  6  7  8  9 10 11 12
print(np.unique(data["Year"])) # only 2023
print(np.unique(data["Agency_name"])) # 'NRSC VIC MODEL'  only



data.drop(['State','Year','Agency_name'],axis = 1,inplace=True) #0 is for rows and 1 is for columns
data.head(5)

     State District        Date  Year  Month  Avg_smlvl_at15cm     Agency_name
0  Haryana   Ambala  05-07-2023  2023      7         13.443466  NRSC VIC MODEL
1  Haryana   Ambala  11-07-2023  2023      7         23.076322  NRSC VIC MODEL
2  Haryana   Ambala  14-07-2023  2023      7         19.513969  NRSC VIC MODEL
3  Haryana   Ambala  20-07-2023  2023      7         18.367752  NRSC VIC MODEL
4  Haryana  Bhiwani  06-07-2023  2023      7         15.707363  NRSC VIC MODEL
['Haryana']
['Ambala' 'Bhiwani' 'Charki Dadri' 'Faridabad' 'Fatehabad' 'Gurugram'
 'Hisar' 'Jhajjar' 'Jind' 'Kaithal' 'Karnal' 'Kurukshetra' 'Mahendragarh'
 'Nuh' 'Palwal' 'Panchkula' 'Panipat' 'Rewari' 'Rohtak' 'Sirsa' 'Sonipat'
 'Yamunanagar']
[ 1  2  3  4  5  6  7  8  9 10 11 12]
[2023]
['NRSC VIC MODEL']

  District        Date  Month  Avg_smlvl_at15cm
0   Ambala  05-07-2023      7         13.443466
1   Ambala  11-07-2023      7         23.076322
2   Ambala  14-07-2023      7         19.513969
3   Ambala  20-07-2023      7         18.367752
4  Bhiwani  06-07-2023      7         15.707363

In [4]:
df = pd.DataFrame(data)


df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df['Year'] = df['Date'].dt.year
df['DayOfYear'] = df['Date'].dt.dayofyear
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.weekday
df['Month_sin'] = np.sin(2 * np.pi * df['Month'] / 12)
df['Month_cos'] = np.cos(2 * np.pi * df['Month'] / 12)


df = pd.get_dummies(df, columns=['District'], drop_first=False)

print(df.head(5))

        Date  Month  Avg_smlvl_at15cm  Year  DayOfYear  Day  Weekday  \
0 2023-07-05      7         13.443466  2023        186    5        2
1 2023-07-11      7         23.076322  2023        192   11        1
2 2023-07-14      7         19.513969  2023        195   14        4
3 2023-07-20      7         18.367752  2023        201   20        3
4 2023-07-06      7         15.707363  2023        187    6        3

   Month_sin  Month_cos  District_Ambala  ...  District_Mahendragarh  \
0       -0.5  -0.866025             True  ...                  False
1       -0.5  -0.866025             True  ...                  False
2       -0.5  -0.866025             True  ...                  False
3       -0.5  -0.866025             True  ...                  False
4       -0.5  -0.866025            False  ...                  False

   District_Nuh  District_Palwal  District_Panchkula  District_Panipat  \
0         False            False               False             False
1         False            False               False             False
2         False            False               False             False
3         False            False               False             False
4         False            False               False             False

   District_Rewari  District_Rohtak  District_Sirsa  District_Sonipat  \
0            False            False           False             False
1            False            False           False             False
2            False            False           False             False
3            False            False           False             False
4            False            False           False             False

   District_Yamunanagar
0                 False
1                 False
2                 False
3                 False
4                 False

[5 rows x 31 columns]

In [5]:
#the dataset with rainfall and temperature
data10 = pd.read_csv(r"D:\#PROJECTS\Crop Recommendation System for Indian Farmerss\Crop_recommendation.csv")
print(data10.head(5))

data_to_merge1 = data10.drop(columns=['N', 'P', 'K','humidity','ph' ] , inplace = True)
print(data10.head(5))

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
   temperature    rainfall label
0    20.879744  202.935536  rice
1    21.770462  226.655537  rice
2    23.004459  263.964248  rice
3    26.491096  242.864034  rice
4    20.130175  262.717340  rice

In [9]:
print(data.head())



pd.to_datetime(df['Date'], dayfirst=True)
df['Date'].dt.year
df['Date'].dt.dayofyear
df['Date'].dt.weekday
np.sin(2 * np.pi * df['Month'] / 12)
np.cos(2 * np.pi * df['Month'] / 12)

df['Day'] = df['Date'].dt.day

'''

df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df['Year'] = df['Date'].dt.year
df['DayOfYear'] = df['Date'].dt.dayofyear
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.weekday
df['Month_sin'] = np.sin(2 * np.pi * df['Month'] / 12)
df['Month_cos'] = np.cos(2 * np.pi * df['Month'] / 12)'''



#print(df.head(5))
# List of all districts in Haryana
districts = [
    "ambala", "bhiwani", "charkhi_dadri", "faridabad", "fatehabad", "gurugram",
    "hisar", "jhajjar", "jind", "kaithal", "karnal", "kurukshetra",
    "mahendragarh", "nuh", "palwal", "panchkula", "panipat",
    "rewari", "rohtak", "sirsa", "sonipat", "yamunanagar"
]

def encode_district(user_input, district_list=districts):
    """
    Takes a district name (string) and returns a dictionary of one-hot encoded values.
    Example:
        input: "ambala"
        output: {"district_ambala": 1, "district_bhiwani": 0, ...}
    """
    user_input = user_input.strip().lower()
    encoded = {}

    for d in district_list:
        key = f"district_{d}"
        encoded[key] = 1 if user_input == d else 0

    return encoded

# Example use:
user_input_DISTRICT = input("Enter district name: ").strip().lower()
encoded_result_district = encode_district(user_input_DISTRICT)
print(encoded_result_district)

  District        Date  Month  Avg_smlvl_at15cm
0   Ambala  05-07-2023      7         13.443466
1   Ambala  11-07-2023      7         23.076322
2   Ambala  14-07-2023      7         19.513969
3   Ambala  20-07-2023      7         18.367752
4  Bhiwani  06-07-2023      7         15.707363

{'district_ambala': 1, 'district_bhiwani': 0, 'district_charkhi_dadri': 0, 'district_faridabad': 0, 'district_fatehabad': 0, 'district_gurugram': 0, 'district_hisar': 0, 'district_jhajjar': 0, 'district_jind': 0, 'district_kaithal': 0, 'district_karnal': 0, 'district_kurukshetra': 0, 'district_mahendragarh': 0, 'district_nuh': 0, 'district_palwal': 0, 'district_panchkula': 0, 'district_panipat': 0, 'district_rewari': 0, 'district_rohtak': 0, 'district_sirsa': 0, 'district_sonipat': 0, 'district_yamunanagar': 0}

NOW WE HAVE MONTH , DAY , DISTRICT 

NOW WE NEED TO ADD RAINFALL AND TEMP. AND SOIL TYPE IN IT

and also moisture at 15cm

In [10]:
df.head(5)
if 'Predicted_smlvl' in df.columns:
	df.drop(columns=['Predicted_smlvl'], inplace=True)

df.head()


# Suppose your DataFrame is named df
district_columns = [col for col in df.columns if col.startswith("District_")]
num_districts = len(district_columns)

print("Number of districts:", num_districts)
print("District columns:", district_columns)

Number of districts: 22
District columns: ['District_Ambala', 'District_Bhiwani', 'District_Charki Dadri', 'District_Faridabad', 'District_Fatehabad', 'District_Gurugram', 'District_Hisar', 'District_Jhajjar', 'District_Jind', 'District_Kaithal', 'District_Karnal', 'District_Kurukshetra', 'District_Mahendragarh', 'District_Nuh', 'District_Palwal', 'District_Panchkula', 'District_Panipat', 'District_Rewari', 'District_Rohtak', 'District_Sirsa', 'District_Sonipat', 'District_Yamunanagar']

In [11]:
df.head()


data5 = pd.read_csv(r"D:\#PROJECTS\Crop Recommendation System for Indian Farmerss\moisture_predictions_merge.csv")

data5.drop(columns=['Year'], inplace = True)

# print(data5)  #moisture added


data5['Predicted_Moisture_15cm'] = data5['Predicted_Moisture'] * 1

data5.drop('Predicted_Moisture', axis=1, inplace=True)
'''
I droped label and renamed rainfall and temp. columns to rainfall(mm) and temperature(°C)

'''
data10

      temperature    rainfall   label
0       20.879744  202.935536    rice
1       21.770462  226.655537    rice
2       23.004459  263.964248    rice
3       26.491096  242.864034    rice
4       20.130175  262.717340    rice
...           ...         ...     ...
2195    26.774637  177.774507  coffee
2196    27.417112  127.924610  coffee
2197    24.131797  173.322839  coffee
2198    26.272418  127.175293  coffee
2199    23.603016  140.937041  coffee

[2200 rows x 3 columns]

In [12]:
original_data = pd.concat([data10, data5], axis=1)

original_data.notnull().sum()

original_data_df = pd.DataFrame(original_data)

original_data_df['rainfall(mm)_full'] =  original_data_df['rainfall'].fillna(original_data_df['rainfall'].mean())
original_data_df['temperature(°C)_full'] = original_data_df['temperature'].fillna(original_data_df['temperature'].mean())

In [17]:
original_data_df.drop(columns=['temperature', 'rainfall'], inplace=True)

original_data_df.notna().sum()

District                   3960
Month                      3960
Day                        3960
Predicted_Moisture_15cm    3960
rainfall(mm)_full          3960
temperature(°C)_full       3960
dtype: int64

In [18]:
original_data_df

,District,Month,Day,Predicted_Moisture_15cm,rainfall(mm)_full,temperature(°C)_full
0,Ambala,1,1,7.672700,202.935536,20.879744
1,Ambala,1,2,7.513698,226.655537,21.770462
2,Ambala,1,3,7.539709,263.964248,23.004459
3,Ambala,1,4,7.500415,242.864034,26.491096
4,Ambala,1,5,7.411865,262.717340,20.130175
...,...,...,...,...,...,...
3955,Yamunanagar,11,26,10.472844,103.463655,25.616244
3956,Yamunanagar,11,27,10.533088,103.463655,25.616244
3957,Yamunanagar,11,28,10.935160,103.463655,25.616244
3958,Yamunanagar,11,29,10.940996,103.463655,25.616244
3959,Yamunanagar,11,30,11.091817,103.463655,25.616244

In [ ]:
data_to_merge2 = pd.read_csv(r"D:\#PROJECTS\Crop Recommendation System for Indian Farmerss\previous_crop_dataset.csv")
data_to_merge2.head()

data_to_merge2.isnull().sum()

np.shape(data_to_merge2) #shape()

original_data2 = pd.concat([original_data_df, data_to_merge2], axis=1)

original_data_df2 = pd.DataFrame(original_data2)

original_data_df2


# original_data_df2.to_excel(r"\final_dataset.xlsx")